body {
  text-align: center;
  font-family: 'Avenir Next';
}

.round_btn {
  border-radius: 30px;
}

.blue_btn {
  background-color: #3A4D8D;
  color: white;
  font-weight: 600;
  font-size: 25px;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
}

.small_blue_btn {
  background-color: #3A4D8D;
  color: white;
  font-weight: 600;
  margin-top: 2rem; 
  font-size: 18px;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
}

.light_blue_btn {
  background-color: #7888BF;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
}

.blue_heading {
  color: #3A4D8D;
  font-weight: 600;
}

.bold_info {
  font-weight: 600;
  margin: 1.75rem 0;
}

.buffer_questions {
  text-align: left;
  padding-left: 1rem;
  margin: 0 1.5rem;
}

.buffer_questions li {
  margin: 0.5rem 0;
  font-size: 16px;
}

.card {
  margin: 0 auto;
  width: 80%;
}

.container {
  padding-top: 3rem;
  text-align: center;
}

.ellipse {
  margin: 0 auto;
  height: 16vh;
  width: 16vh;
  background-color: #45597e;
  border-radius: 50%;
  margin-bottom: 2vh;
}

.emoji {
  height: 12vh;
  margin-top: 2vh;
}

.emoji_name {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 20px;
  font-weight: 500;
  color: #3A4D8D;
}

.heading {
  margin-bottom: 1rem;
}

.instruction_list {
  padding-left: 1rem;
}

.instruction_list li {
  margin-top: 1rem;
  font-size: 15px;
}

.large_prompt {
  padding: 1rem;
  color: #3A4D8D;
  font-size: 25px;
}

.logo {
  height: 45vh;
  margin: 2rem 0;
}

.outer {
  text-align: center;
  padding: 1.5rem 1rem 1rem;
}

.test {
  width: 5rem;
  padding: 0.5rem;
  margin: 0.25rem;
}

.status {
  margin: 1.25rem 0;
}

.top_left {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.trace {
  position: absolute;
  z-index: -1;
  text-align: center;
  top: 48vh;
  left: 50%;
  margin-left: -95px;
  width: 190px;
}

canvas {
  border: 5px solid #a5bde6;
}

html, body {
  height: 75vh;
  overscroll-behavior-y: contain;
}

#testDisplay {
  display: none;
}

#demoDisplay {
  display: none;
}

/* Receive styling */
#nonResultDiv {
  font-size: 14px;
  padding: 1rem 0.5rem 0;
}

#playButton {
  margin: 2rem 0;
}

#accuracy {
  color: #3A4D8D;
  margin-top: 2rem;
  font-weight: 600;
}

#resultDiv {
  margin-top: 2rem;
}


/* Scroll wheel styling */
.dial-wrapper {
  font-size: 1rem;
  border: 0.2em solid rgba(64, 64, 64, 0.4);
  border-radius: 100%;
  width: 33em;
  height: 33em;
  position: absolute;
  background-color: rgba(220, 220, 220, 0.5);
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dial-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.item {
  user-select: none;
  position: absolute;
  display: block;
  
}

.item > input {
  height: 7.75em;
  width: 7.75em;
}


.no-scroll {
  overscroll-behavior: none;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#resultsList {
  text-align: left; 
  display: inline-block;
}