body {
  text-align: center;
  font-family: 'Avenir Next';
}

.card {
  margin: 0 auto;
  width: 80%;
}

.container {
  text-align: center;
  padding: 2rem 1rem 1rem;
}

.heading {
  margin-bottom: 1rem;
}

.large_prompt {
  padding: 1rem;
  color: #3A4D8D;
  font-size: 25px;
}

.logo {
  height: 45vh;
  margin: 2rem 0;
}

.emoji {
  height: 20vh;
}

.trace {
  position: absolute;
  z-index: 0;
  text-align: center;
  top: 40vh;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}

canvas {
   border:1px solid red;
}

.test {
  width: 8rem;
  padding: 0.5rem;
  margin: 0.25rem;
}

html, body {
  height: 95%;
}

.ellipse {
    margin: 0 auto;
    height: 20vh;
    width: 20vh;
    background-color: #45597e;
    border-radius: 50%;
    margin-bottom: 2vh;
}

#myCanvas {
  z-index: 999;
  border: 5px solid #a5bde6;
}
