body {
  text-align: center;
  font-family: 'Avenir Next';
}

.card {
  margin: 0 auto;
  width: 80%;
}

.container {
  text-align: center;
  padding: 2rem 1rem;
}

.heading {
  margin-bottom: 1rem;
}

.large_prompt {
  padding: 1rem;
  color: #3A4D8D;
  font-size: 25px;
}

.logo {
  height: 45vh;
  margin: 2rem 0;
}

.emoji {
  height: 30vh;
  padding: 2rem 1rem;
}

.trace {
    margin: -2rem 0;
  color: #707070;
  font-size: 300px;
}

canvas {
   border:1px solid red;
}

.test {
  width: 8rem;
  padding: 0.5rem;
  margin: 0.25rem;
}